<section class='about {{ $.Params.background }} pt-0 {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
    <a class="anchor" id="camp"></a>

    <div class="container" data-aos="fade-up">

      <div class="section-header pb-5">
        <h2 class="mb-5">{{ .Title }}</h2>
        {{ .Content }}
      </div>

      <div class="row">
        <div class="col-lg-12 mt-0">
          {{ with $.Resources.Get "image-1.jpg" }}
          <img src="{{ .RelPermalink }}" class="img-fluid rounded-4 mb-4" alt="">
          {{ end }}
        </div>
      </div>

    </div>

    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-2">
            <p>{{ $.Params.text1 | markdownify }}</p>
            <ul>
              {{ range $.Params.methods }}
              <li><i class="bi bi-circle-fill"></i>{{ . }}</li>
              {{ end }}
            </ul>
            <div class="position-relative m-0 mb-lg-3">
              {{ with $.Resources.Get "image-2.jpg" }}
              <img src="{{ .RelPermalink }}" class="img-fluid rounded-4" alt="">
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-4">
            <p>{{ $.Params.text2 | markdownify }}</p>
            <div class="position-relative mt-4 m-0">
              {{ with $.Resources.Get "image-3.jpg" }}
              <img src="{{ .RelPermalink }}" class="img-fluid rounded-4" alt="">
              {{ end }}
            </div>
          </div>
        </div>
      <div class="col-lg-12">
        <div class="content ps-0 ps-lg-2">
          <p>{{ $.Params.text3 | markdownify }}</p>
        </div>
      </div>

    </div>
  </section>
