<section class='testimonials {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
  <a class="anchor" id="community"></a>

    <div class="container" data-aos="fade-up">

      <div class="section-header pb-3">
        <h2>{{ .Title }}</h2>
      </div>

      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {{ range .Params.people }}
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center">
                  {{ with $.Resources.Get .image }}
                  <img src="{{ .RelPermalink }}" class="testimonial-img flex-shrink-0" alt="">
                  {{ end }}
                  <div>
                    <h3>{{ .name }}</h3>
                    <h4 class="testimonial-line">{{ .line }}</h4>
                  </div>
                </div>
                <p class="testimonial-text">
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>{{ .text | safeHTML }}</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div class="social">
                  <a href="{{ .link }}" target="_blank"><i class="bi bi-{{ .social }}"></i></a>
                </div>
              </div>
          </div>
          </div><!-- End testimonial item -->
          {{ end }}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

