    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class='faq {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-lg-4">
              <div class="content px-xl-5">
                <h3>{{ .Title | markdownify }}</h3>
                <p>{{ .Description | markdownify }}</p>
              </div>
            </div>
  
            <div class="col-lg-8">
  
              <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
  
                {{ range $index, $question := .Params.faq }}                    
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-{{ add $index 1 }}">
                      <span class="num">{{ add $index 1 }}.</span>
                      <span>{{ $question.question | markdownify }}</span>
                    </button>
                  </h3>
                  <div id="faq-content-{{ add $index 1 }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      {{ $question.answer | markdownify }}
                    </div>
                  </div>
                </div><!-- # Faq item-->
                {{ end }}  
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
  
  