<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        {{ with .Resources.Get "comocamp.png" }}
          <img src="{{ .RelPermalink }}" alt="{{ site.Title }}" title="{{ site.Title }}">
        {{ end }} 
      </a>
      <nav id="navbar" class="navbar">
        <ul>
            {{ range .Params.Menu }}
                <li><a id="id-{{ .id }}" href="#{{ .id }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
      </nav>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

</header>