<section class='blog {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
    <a class="anchor" id="location"></a>
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </div>

        <div class="row gy-4 posts-list">

            {{ range seq 6 }}
            <div class="col-xl-4 col-md-6">
            <article style="padding: 0px; margin: 0px;">

                <div class="post-img">
                    {{ $image := $.Resources.Get (printf "%d.png" .)}}
                    {{ $image := $image.Process "resize width 416x" }}
                    {{ with $image }}
                    <img src="{{ .RelPermalink }}" class="img-fluid" alt="">
                    {{ end }}
                </div>

            </article>
            </div><!-- End post list item -->
            {{ end }}

        </div><!-- End blog posts list -->

    </div>
  </section><!-- End Blog Section -->
