     <!-- ======= Recent Blog Posts Section ======= -->
     <section class='recent-posts {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">

            {{ $width := div 12 .Params.width }}
  
            {{ range .Params.supporters }}
            <div class="col-xl-{{ $width }} col-md-6">
              <article class="supporter media-partner {{ .logo }}">  
                <div class="post-img align-items-center" style="vertical-align: middle; text-align: center;">
                  {{ $link := .link }}
                  {{ $logo := .logo }}
                  {{ with $.Resources.Get (print .logo ".png") }}
                    <a href="{{ $link }}"><img src="{{ .RelPermalink }}" class="mx-auto d-block {{ $logo }}"></a>
                  {{ end }}
                </div>
                <p class="post-category centered">{{ .text | markdownify }}</p>  
              </article>
            </div><!-- End post list item -->
            {{ end }}
          
          </div><!-- End recent posts list -->
  
        </div>
      </section><!-- End Recent Blog Posts Section -->
