    <!-- ======= Participation Section ======= -->
    <section class='pricing {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
      <a class="anchor" id="participation"></a>

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description | markdownify }}</p>
          </div>

          {{ $width := div 12 (len (where .Params.tickets "display" true)) }}
  
          <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

            {{ range .Params.tickets }}
            {{ if .display }}                    
            <div class="col-lg-{{ $width }}">
              <div class="pricing-item  {{ if not .soldout }}{{ .style }}{{ end }} {{ if .soldout }}soldout-item{{ end }}">
  
                <h3 {{ if .soldout }}class="soldout"{{ end }}>{{ .title | safeHTML }}</h3>
  
                <div class="icon {{ if .soldout }}soldout{{ end }}">
                  <i class="bi bi-{{ .icon }} {{ if .soldout }}soldout{{ end }}"></i>
                  {{ if .soldout }}<img width="200" height="200" class="soldout-image" src="participation/sold-out.png"></img>{{ end }}
                </div>
                {{ if eq .style "hotel" }}<p>Prices start from</p>{{ end }}
                <h4 {{ if .soldout }}class="soldout"{{ end }}><sup>€ </sup>{{ .price }}{{ if eq .style "hotel" }}<span> per night</span>{{ end }}</h4>
                <ul {{ if .soldout }}class="soldout"{{ end }}>
                  {{ range .included }}                    
                  <li><i class="bi bi-check"></i><span>{{ . | safeHTML }}</span></li>
                  {{ end }}
                </ul>
                {{ if .soldout }}
                <div class="text-center"><a href="{{ .waitingLink }}" target="_blank" class="buy-btn">{{ .waitingText | safeHTML }}</a></div> 
                {{ end }}
                {{ if not .soldout }}
                <div class="text-center"><a href="{{ .bookingLink }}" target="_blank" class="buy-btn">{{ .bookingText | safeHTML }}</a></div> 
                {{ end }}
                {{ if .note }}
                <ul>
                  <li style="text-align: justify;"><i style="font-size: 3em;" class="bi bi-exclamation"></i>{{ .note | markdownify }}<i style="font-size: 3em;" class="bi bi-exclamation"></i></li>
                </ul>
                {{ end }}
              </div>
  
            </div><!-- End Pricing Item -->
            {{ end }}
            {{ end }}
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  