    <!-- ======= Participation Section ======= -->
    <section class='pricing {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
      <a class="anchor" id="participation"></a>

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description | markdownify }}</p>
          </div>
  
          <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

            {{ range .Params.tickets }}                    
            <div class="col-lg-4">
              <div class="pricing-item {{ .style }}">
  
                <h3>{{ .title | safeHTML }}</h3>
  
                <div class="icon">
                  <i class="bi bi-{{ .icon }}"></i>
                </div>
                {{ if eq .style "hotel" }}<p>Prices start from</p>{{ end }}
                <h4><sup>€ </sup>{{ .price }}{{ if eq .style "hotel" }}<span> per night</span>{{ end }}</h4>
                <ul>
                  {{ range .included }}                    
                  <li><i class="bi bi-check"></i><span>{{ . | safeHTML }}</span></li>
                  {{ end }}
                </ul>
                <div class="text-center"><a href="{{ .bookingLink }}" target="_blank" class="buy-btn">{{ .bookingText }}</a></div> 
              </div>
  
            </div><!-- End Pricing Item -->
            {{ end }}
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  