<section class="sections-bg">
    <a class="anchor" id="program"></a>
    <div class="section-header pb-3">
        <h2 class="mb-0">{{ .Title }}</h2>
    </div>
  <div class="container py-9 py-lg-11 position-relative z-index-1">
      <div class="row">
              <div class="col-12 col-lg-3 mb-3 mt-0 pt-0">
                  <div class="mt-4 d-flex justify-content-center nav-pills flex-column aos-init aos-animate" id="myTab" role="tablist" data-aos="fade-up">
                    {{ range .Params.days }}                    
                      <button class="nav-link px-4 text-center text-lg-start mb-3 {{ if eq .id 1 }}active{{ end }}" id="d{{ .id }}-tab" data-bs-toggle="tab" data-bs-target="#day-{{ .id }}" type="button" role="tab" aria-controls="day-{{ .id }}" aria-selected="{{ if eq .id 1 }}true{{ else }}false{{ end }}">
                          <span class="d-block fs-5 fw-bold">{{ .name }}</span>
                          {{ $date := .date | time }}
                          <span>{{ $date.Format "Monday" }}, <span style="font-weight: bold; text-decoration: underline;">{{ $date.Format "January 2" }}</span><sup>{{ if eq $date.Day 1 }}st{{ else if eq $date.Day 2 }}nd{{ else if eq $date.Day 3 }}rd{{ else }}th{{ end }}</sup>, {{ $date.Format "2006" }}</span>
                      </button>                                          
                    {{ end }}
                </div>
              </div>                
              <div class="col-12 col-lg-9 col-xl-6">
                  <div data-aos="fade-up" class="tab-content aos-init aos-animate" id="myTabContent">
                    {{ range .Params.days }}                    
                      <div class="tab-pane fade {{ if eq .id 1 }}active show{{ end }}" id="day-{{ .id }}" role="tabpanel" aria-labelledby="d{{ .id }}-tab">
                        <ul class="list-unstyled mb-0">
                            {{ range .activities }}                    
                            <li class="d-flex flex-column flex-md-row py-4">
                                  <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 text-muted" style="min-width: 100px">{{ .from }} - {{ .to }}</span>
                                  <div class="flex-grow-1 ps-4 border-start border-3">
                                      <h4>{{ .name }}</h4>
                                      <p class="mb-0">{{ .description }}</p>
                                  </div>
                              </li>
                              {{ end }}
                          </ul>
                      </div>
                      {{ end }}
                </div>
              </div>
          </div>
      </div>

  </section>
