    <!-- ======= Our Team Section ======= -->
    <section class='team mb-2 {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
      <a class="anchor" id="team"></a>
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
          </div>
  
          <div class="row gy-4 pb-4">
  
            {{ range .Params.organizer }}
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                {{ $image := $.Resources.Get .image }}
                {{ $image := $image.Process "resize width 500x" }}
                {{ with $image }}
                  <img src="{{ .RelPermalink }}" class="img-fluid" alt="">
                {{ end }}
                <h4>{{ .name }}</h4>
                <span>{{ .line }}</span>
                <div class="social">
                  {{ with .web }}
                  <a href="{{ . }}" target="_blank" style="margin: 0px 5px 0px 5px"><i class="bi bi-link-45deg"></i></a>
                  {{ end }}
                  {{ with .linkedin }}
                  <a href="{{ . }}" target="_blank" style="margin: 0px 5px 0px 5px"><i class="bi bi-linkedin"></i></a>
                  {{ end }}
                </div>
              </div>
            </div><!-- End Team Member -->
            {{ end }}
 
          </div>

          <div class="row gy-4 justify-content-center">
  
            {{ range .Params.helpingHand }}
            <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="100" style="justify-content: center;">
              <div class="member">
                {{ $image := $.Resources.Get .image }}
                {{ $image := $image.Process "resize width 280x" }}
                {{ with $image }}
                  <img src="{{ .RelPermalink }}" class="img-fluid" alt="">
                {{ end }}
                <h4>{{ .name | replaceRE "\\s+" "<br>" | safeHTML }}</h4>
                <span>{{ .line }}</span>
                <div class="social">
                  {{ with .linkedin }}
                  <a href="{{ . }}" target="_blank" style="margin: 0px 5px 0px 5px"><i class="bi bi-linkedin"></i></a>
                  {{ end }}
                </div>
              </div>
            </div><!-- End Team Member -->
            {{ end }}
 
          </div>

        </div>
      </section><!-- End Our Team Section -->
  