<section id="we-are-looking-forward" class='{{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
    <div class="section-header mb-0 p-2">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12">
          {{ with $.Resources.GetMatch "*" }}
          <img src="{{ .RelPermalink }}" class="img-fluid rounded-4 mb-4" alt="">
          {{ end }}
        </div>
      </div>

    </div>      
  </section>
