a#id-participation {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 17px;
    border-radius: 20px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(249 61 119);
}

a#id-participation:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar>ul>li>a#id-participation:before {
    background-color: transparent;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.nav-link.active {
    background-color: var(--color-secondary) !important;
    border-radius: 50px;
}

.testimonial-item .social {
    display: flex;
    justify-content: right;
}

.testimonial-item .social a {
    color: #a2a2a2;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
}

.testimonials .testimonial-item .quote-icon-left, 
.testimonials .testimonial-item .quote-icon-right {
    color: var(--color-secondary);
    font-size: 22px;
    line-height: 0;
}

.pricing .icon::before {
    background: rgba(255, 151, 57, 0.5);
}

.pricing .icon::after {
    background: rgba(255, 151, 57, 0.25);
}

.pricing ul i {
    color: var(--color-secondary);
}

.pricing .buy-btn {
    border: 1px solid rgba(255, 151, 57, 0.3);
}

.contact .info-item {
    background-color: grey;
}

.call-to-action {
    padding-left: 1em;
    padding-right: 1em;
}

.call-to-action .container {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.copyright a {
    color: white !important;
}

.pricing .hotel {
    border: 2px dashed grey;
}

.team .member .social {
    justify-content: center;
}

.testimonial-text {
    width: 95%;
}