{{ $page := . }}
{{ $this := printf "%s" ( .RelPermalink | replaceRE "\\/" "") }}
{{ if eq .Params.background "grey" }}
    sections-bg
{{ else if eq .Params.background "white" }}
{{ else }}
    {{ $page.Scratch.Set "background" false }}
    {{ range $other := site.Params.Sections }}
        {{ with site.GetPage . }}
            {{ if or (not .Draft) site.BuildDrafts }}
                {{ if eq .Params.background "grey" }}
                    {{ $page.Scratch.Set "background" true }}
                {{ else if eq .Params.background "white" }}
                    {{ $page.Scratch.Set "background" false }}
                {{ else if eq .Params.background "alternate" }}
                    {{ $page.Scratch.Set "background" (not ($page.Scratch.Get "background")) }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $this $other }}
            {{ break }}
        {{ end }}   
    {{ end }}
    {{ if ($page.Scratch.Get "background") }}
        sections-bg
    {{ end }}    
{{ end }}
