  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4 col-12 footer-info text-center text-lg-start mb-3">
          <a class="logo d-flex align-items-center justify-content-center justify-content-lg-start">
            <span>About the&nbsp;</span>
            <img src="hero/comocamp.png">
          </a>
          <p>The ComoCamp is the unconference reaching out to bring practitioners of collaborative modeling methods together with their creators and thought leaders.</p>
          <div class="social-links d-flex mt-4 justify-content-center justify-content-lg-start">
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="mastodon"><i class="bi bi-mastodon"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-12 footer-links text-center justify-content-center mt-4">

          <h4>Code of Conduct</h4>
          <p>
            Be open<br>
            Be honest<br>
            Be respectful<br>
          </p>

        </div>

        <div class="col-lg-4 col-12 text-center text-lg-end mt-0 mt-lg-4">

          <h4>Organized by</h4>
          <p>
            <strong>Collaborate Vienna</strong><br>
            (ZVR 1605397921)<br>
            Treustraße 45<br>
            1200 Vienna, Europe<br>
            <a style="color: white; text-decoration: underline;" href="mailto:hello@comocamp.org">hello@comocamp.org</a><br>
          </p>

        </div>

      </div>

    </div>

    <div class="container mt-4">
      <div class="copyright">
        Copyright &copy; 2019-<script>document.write(new Date().getFullYear());</script><br>
        <p>
          <a style="color: white" href="https://thephp.cc/unternehmen/berater/stefan-priebsch">Stefan Priebsch</a>, 
          <a style="color: white" href="https://plexiti.com/about/">Martin Schimak</a>,<br> 
          <a style="color: white" href="https://hschwentner.io">Henning Schwentner</a> and 
          <a style="color: white" href="https://www.linkedin.com/in/daniel-sack-7298b020/">Daniel Sack</a><br>
          <a style="text-decoration: underline; color: white" href="mailto:hello@comocamp.org">Get in touch</a> with us.
        </p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>
