<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="." class="logo d-flex align-items-center">
        {{ $p := site.GetPage "hero" }}
        {{ $image := $p.Resources.Get "comocamp.png"}}
        {{ $image := $image.Process "resize width 107x" }}
        {{ with $image }}
          <img src="{{ .RelPermalink }}" alt="{{ site.Title }}" title="{{ site.Title }}">
        {{ end }} 
      </a>
      <nav id="navbar" class="navbar">
        <ul>
            {{ range .Site.Menus.main }}
            {{ if (site.GetPage .PageRef) }}
                <li><a id="id-{{ .PageRef }}" href="#{{ .PageRef }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
      </nav>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

</header>