    <!-- ======= Participation Section ======= -->
    <section class="pricing sections-bg">
      <a class="anchor" id="participation"></a>

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>How to participate</h2>
          </div>
  
          <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Consider your<br/>Collaborative Modeling<br/>Intro Trainings Day</h3>
                <div class="icon">
                  <i class="bi bi-chat-dots"></i>
                </div>
                <h4><sup>€</sup>790<span></span></h4>
                <ul>
                  <li><i class="bi bi-check"></i>Intro Trainings Day, May 6<sup>th</sup>&nbsp;2024</li>
                  <li><i class="bi bi-check"></i>Get expert hands-on intros to three different "CoMo" methods</li>
                  <li><i class="bi bi-check"></i>Breaks and lunch are covered</li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item featured">
  
                <h3>Get your 2-Day<br/>Open Space Ticket<br/>for the Unconference</h3>
  
                <div class="icon">
                  <i class="bi bi-ticket-perforated"></i>
                </div>
  
                <h4><sup>€ </sup>390<span></span></h4>
                <ul>
                  <li><i class="bi bi-check"></i>Open Space, May 7<sup>th</sup>-8<sup>th</sup>&nbsp;2024</li>
                  <li><i class="bi bi-check"></i>Breaks, lunch and dinner are covered</li>
                  <li><i class="bi bi-check"></i>Workshop material is included</li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
  
              <p>The price contains no VAT, as the camp is organized by the non-profit association Collaborate Vienna.</p>
  
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Book your Hotel Room<br/>directly at Europahaus</h3>
                <div class="icon">
                  <i class="bi bi-geo-alt"></i>
                </div>
                <p>Prices start from</p>
                <h4><sup>€ </sup>84<span> / night</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i>Use our contingent "ComoCamp"</li>
                  <li><i class="bi bi-check"></i><strong style="text-decoration: underline;">Book before March 15th, 2024</strong></li>
                  <li><i class="bi bi-check"></i>Breakfast is available</li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  